
//Breakpoints
@mixin breakpoint($point) {
  // Extra small devices (320px +)
  @if $point==xs {
    @media only screen and (min-width: 320px)  {
      @content;
    }
  }
    // Small devices (480px +)
  @else if $point==sm {
    @media only screen and (min-width: 480px) {
      @content;
    }
  }
    // Tablets (768px +)
  @else if $point==tb {
    @media only screen and (min-width: 768px) {
      @content;
    }
  }
    // Medium Devices, Notebooks (992px +)
  @else if $point==md {
    @media only screen and (min-width: 992px) {
      @content;
    }
  }
    // Large Devices, Wide Screens
  @else if $point==desktop {
    @media only screen and (min-width: 1280px) {
      @content;
    }
  }
}

//Background image 
@mixin bg-img($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

//Title in Section
@mixin sectionTitle() {
  &.head-title--ta {
    text-align: center;
  }
  &__title {
    font-family: $font-family3;
    font-size: 48px;
    text-transform: uppercase;
    color: $color2;
    @include breakpoint(sm){
      font-size: 63px;
    }
  }
  &__span--red {
    color: $color1;
  }
  &__subtitle {
     font-size: 20px;
     font-weight: 300;
     font-family: $font-family2;
     text-transform: lowercase;
     line-height: 27px;
    @include breakpoint(sm){
      font-size: 24px;
    }
   }
}






