/*Global Variables*/
$font-family1:  'Open Sans', sans-serif;
$font-family2:  'Roboto', sans-serif;
$font-family3:  'Roboto Condensed', sans-serif;
$font-family4:  'Quicksand', sans-serif;
$font-family5:  'Echoes Sans Bold', sans-serif;

$color1: #fa3821;
$color2:#474747;
$color3: #000000;
$color4: #ffffff;

